<h1 class="text-center">Let's decrypt</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <form action="/decrypt" method="get">
        <div class="form-group">
          <label for="message">Message to decrypt</label>
          <textarea name="encrypted_message" id="message" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <input type="submit" value="Decrypt" class="btn btn-primary">
      </form>

    </div>
  </div>
</div>
